<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

</head>

<link rel="stylesheet" href="css/login.css">

<body>
      <div class="wrapper">
      <div class="title-text">
        <div class="title login">Entrar</div>
        <div class="title signup">Nova conta</div>
      </div>
      <div class="form-container">
        <div class="slide-controls">
          <input type="radio" name="slide" id="login" checked>
          <input type="radio" name="slide" id="signup">
          <label for="login" class="slide login">Login</label>
          <label for="signup" class="slide signup">Signup</label>
          <div class="slider-tab"></div>
        </div>
        <div class="form-inner">


          <form action="/login" class="login">
            <div class="field">
              <input type="number" name="agencia" th:value="${agencia}" placeholder="Insira a agência" required>
            </div>
            <div class="field">
              <input type="number" name="numero_conta" th:value="${numero_conta}" placeholder="Insira a conta" required>
            </div>
            <div class="field">
              <input type="password" name="senha" placeholder="Senha" required>
            </div>
            <div class="pass-link"><a href="#">Forgot password?</a></div>
            <p style="color: red;"><span th:text="${erro}"></span></p>
            <div class="field btn">
              <div class="btn-layer"></div>
              <input type="submit" value="Login">
            </div>
            <div>Não é nosso cliente? <a href="/clienteNovo">registrar</a></div>
          </form>


          <form action="/registrar" class="signup">


            <div class="field">
              <input type="text" placeholder="Email Address" required>
            </div>
            <div class="field">
              <input type="password" placeholder="Password" required>
            </div>
            <div class="field">
              <input type="password" placeholder="Confirm password" required>
            </div>
            <div class="field btn">
              <div class="btn-layer"></div>
              <input type="submit" value="Signup">
            </div>
          </form>
        </div>
      </div>
    </div>

</body>
<script src="js/script.js"></script>
</html>